// Color Palette
$primaryColor1: hsla(210, 100%, 40%, 1) !default;
$primaryColor2: hsla(210, 49%, 28%, 1) !default;
$primaryColor3: hsla(210, 29%, 24.3%, 1) !default;
$accentColor1: hsla(192, 17.2%, 94.3%, 1) !default;
$accentColor2: hsla(0, 0%, 100%, 1) !default;

$cardTitleColor: hsla(0, 0%, 100%, 1) !default;
$cardTitleScrimColor: hsla(0, 0%, 0%, 0.75) !default;
